{:source-paths ["src"]
 :dependencies [[reagent "0.8.1"]
                [markdown-clj "1.0.2"]
                [alandipert/storage-atom "2.0.1"]]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:init-fn markdown-editor.core/main!}}
                :devtools {:http-root "public"
                           :http-port 8080
                           :after-load markdown-editor.core/main!
                           :watch-dirs "public"}}}}
