{:source-paths ["src"]
 :dependencies [[reagent "0.8.1"]
                [markdown-clj "1.0.2"]]
 :builds {:app {:target :browser
                :output-dir "target/js"
                :asset-path "resources"
                :modules {:main {:init-fn markdown-editor.core/main!}}}}}
