html, body {
  margin: 0;
  height: 100%;
}

textarea {
  border: none;
  resize: none;
  outline: none;
}

a svg line {
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  transition: 200ms;
  transition-timing-function: ease-in-out;
}

a:hover svg line {
  stroke: white;
}

a svg circle {
  stroke: black;
  stroke-width:1.5;
  fill: white;
  transition: 200ms;
  transition-timing-function: ease-in-out;
}

a:hover svg circle {
  stroke: white;
}
